@tailwind base;
@tailwind components;
@tailwind utilities;
/* .logo-container {
  padding: 5px 0;
  margin-bottom: 10px;
}

.exam-card {
  background: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
}

.guidelines-section {
  background-color: #f8f9fa;
  border-left: 5px solid #007bff;
}

.guidelines-section li {
  border: none;
  background-color: transparent;
} */
